// Definindo cores e fontes
$corDeFundo: #100F0F;
$corTextoTitulo: #FEC866;
$corTexto: #AFAFAF;
$corTextoPreto: #100F0F;
$corBeje: #B7752E;

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text($fontsize: 34px) {
    font-size: $fontsize;
    color: $corTexto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin title($fontSize: 64px) {
    font-size: $fontSize;
    color: $corTextoTitulo;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.text {
    @include text(34px);
}

.text--title {
    @include title(100px);
}

body {
    background-color: $corDeFundo;
    font-size: 2vw;
}


.header{
    position: fixed;
    top: 0%;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100px;
    transition: background-color 0.6s ease;
    z-index: 1000;

    &--is-hidden{
        background-color: rgb(183, 117, 46, 0.98);
        transition: background-color 0.6s ease;
    }

    &__content {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap: 1vw;
        max-width: 80%;
        margin: -8px auto;
        z-index: 1000;
    
        &__titulo {
            @include title(5vw);
            align-content: center;
        }

        #icon_sound{
            height: 32px;
            color: #100F0F;
            padding: 3px;


            &:hover{
                background-color:$corTextoTitulo;
                border-radius: 50%;
            }
        }

        &__img {
            max-height: 60px;
            margin-right: 20vw;
        }

        &__menu {
            @include text(2vw);
            display: flex;
            list-style-type: none;

            a{
                text-decoration: none;
                color: #100F0F;
                margin-right: 1rem;
                transition: color 0.3s ease;
                
                &:hover{
                    color: $corTextoTitulo;
                }
            }
        }
    }
}

.hero {
    height: 785px;
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: -1;
        object-fit: cover;
    }

    &__icones {
        max-width: 15%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto 10vw;
        


        #chandelerimg {
            max-width: 100%;
            margin: 220px 0 1vw 0;
            background-color: hsl(31, 60%, 45%, 0.5);
            border-radius: 50px; 
            transition: background-color 0.3s ease;
            
            &:hover{
                cursor: pointer;
                background-color: hsl(31, 60%, 45%,1) ;
            }
        }

        #embaubaimg {
            max-width: 100%;
            background-color: hsl(31, 60%, 45%, 0.5);
            border-radius: 50px;
            padding: 14px;
            margin-bottom: 1.5vw;
            transition: background-color 0.3s ease;

            &:hover{
                cursor: pointer;
                background-color: hsl(31, 60%, 45%,1) ;
            }
        }

        a {
            max-width: 100%;
            text-decoration: none;
            @include text(24px);
            background-color:$corBeje;
            border-radius: 40px;
            padding: 7px;
            border:#100F0F solid 2px;
            margin-top: 25px;
            color: black;
            margin-bottom: 50px;
            transition: color 0.3s ease, border-color 0.3s ease;

            &:hover{
                color: #ffffff;
                border-color: #ffffff;
                
            }
        }
    }
}

.faixa{
    max-width: 100%;
    height: 48px;
    background-color: #B7752E; 
}


.sinopse {
    background-image: url(/dist/images/fotos/still-01_Ze-scaled.jpg);
    background-size: cover;
    background-position: 0vw -5vw;
    background-repeat: none;
    width: 130%;
    height: 800px;
    padding-top:10vw ;

    &__title{
        max-width: 26%;
        margin: auto 10vw;
        @include title(56px);
        line-height: 25px;
        margin-bottom: 3vw;
        margin-left: 15vw;
    }
    
    &__text{
        max-width: 26%;
        margin: auto 10vw;
        @include text(24px);
        line-height: 25px;
    }
}

.diretor {
    background-image: url(/dist/images/fotos/foto-do-diretor.png);
    background-size: cover;
    background-position: -9vw 0vw;
    background-repeat: none;
    width: 100%;
    height: 800px;
    padding-top:10vw ;

    &__title{
        max-width: 26%;
        margin: auto 10vw;
        @include title(56px);
        line-height: 25px;
        margin-bottom: 3vw;
        margin-left: 60vw;
    }
    
    &__text{
        max-width: 35%;
        margin-left: 55vw;
        @include text(24px);
        line-height: 25px;
    }
}

.sessao__fotos{
    height: 1900px;
}

.fotos{
        position: relative;

    &__title{
        margin: 3vw auto;
        @include title(56px);
        text-align: center;
    }

    .fotogafia{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    &__4{
        width: 1300px;
        height: 430px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 0 auto;

    }

    &__2{
        width: 494px;
        height: 494px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 200px 0px 0px 54px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
    }

    &__3{
        width: 600px;
        height: 400px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 150px 0px 0px 700px;
        position: absolute;
        top: 50%;
    }

    &__5{
        width: 700px;
        height: 350px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:450px 0px 0px 400px;
        position: absolute;
        top: 50%;
    }

    &__8{
        width: 600px;
        height: 400px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:760px 0px 0px 150px;
        position: absolute;
        top: 50%;
        }

    &__7{
        width: 600px;
        height: 300px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:760px 0px 0px 780px;
        position: absolute;
        top: 50%;
    }

    &__1{
        width: 600px;
        height: 600px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:990px 0px 0px 800px;;
        position: absolute;
        top: 50%;
        border-radius: 50%;
    }

    &__6{
        width: 850px;
        height: 400px;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 1150px 0px 0px 75px;;
        position: absolute;
        top: 50%;
    }
}

.faq{

    p{
        display: flex
    }

    &__title1{
        @include title(56px);
        margin: 3vw auto;
        text-align: center;
    }

    &__title2{
        @include title(56px);
        margin: 3vw auto;
        text-align: center;
    }
    
    &__ficha1{
        max-width:80%;
        margin: 0px 5vw 0px 15vw;
        @include text(24px);
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
}

.footer{
    background-color: $corBeje;
    @include text(16px);
    color: #100F0F;
    text-align: center;
    padding-bottom: 1rem;
}

