// Definindo cores e fontes
$corDeFundo: #100F0F;
$corTextoTitulo: #FEC866;
$corTexto: #AFAFAF;
$corTextoPreto: #100F0F;
$corBeje: #B7752E;

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text($fontsize: 34px) {
    font-size: $fontsize;
    color: $corTexto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin title($fontSize: 64px) {
    font-size: $fontSize;
    color: $corTextoTitulo;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.text {
    @include text(34px);
}

.text--title {
    @include title(100px);
}

body {
    background-color: $corDeFundo;
    font-size: 2vw;
}

.header__content__menu a.active{
    color: $corTextoTitulo;
    font-weight:500;
}

.header{
    position: fixed;
    top: 0%;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 7vw;
    transition: background-color 0.6s ease;
    z-index: 1000;

    &--is-hidden{
        background-color: rgb(183, 117, 46, 0.98);
        transition: background-color 1s ease;
    }

    &__content {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap: 1vw;
        max-width: 80%;
        margin: 0 auto;
        z-index: 1000;
    
        &__titulo {
            @include title(5vw);
            align-content: center;
        }

        #icon_sound{
            height: 2vw;
            width: 2vw;
            color: #100F0F;    

            &:hover{
                color:$corTextoTitulo;
            }
        }

        .sound-icon .fa-volume-up::before {
            content: "\f028";
        }
        
        .sound-icon .fa-volume-mute::before {
            content: "\f6a9"; 
        }

        &__img {
            max-height: 5vw;
            margin-right: 20vw;
        }

        &__menu {
            @include text(2vw);
            display: flex;
            list-style-type: none;

            a{
                text-decoration: none;
                color: #100F0F;
                margin-right: 1rem;
                transition: color 0.3s ease;
                
                &:hover{
                    color: $corTextoTitulo;
                    font-weight:500;
                }
            }
        }
    }
}

.hero {
    height: 800 px;
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: -1;
        object-fit: cover;
    }

    &__icones {
        max-width: 15%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto 10vw;
        
        .trailerText {
            max-width: 100%;
            @include text(1.5vw);
            background-color:$corBeje;
            border-radius: 40px;
            padding: 0.4375em;
            border:#100F0F solid 2px;
            margin-top: 25px;
            color: black;
            margin-bottom: 100px;
            transition: color 0.3s ease, border-color 0.3s ease;

            &:hover{
                color: #ffffff;
                border-color: #ffffff;
                
            }
        }

        #chandelerimg {
            max-width: 100%;
            margin: 13.75rem 0 1vw 0;
            background-color: hsl(31, 60%, 45%, 0.5);
            border-radius: 50px; 
            transition: background-color 0.3s ease;
            
            &:hover{
                cursor: pointer;
                background-color: hsl(31, 60%, 45%,1) ;
            }
        }

        #embaubaimg {
            max-width: 100%;
            background-color: hsl(31, 60%, 45%, 0.5);
            border-radius: 50px;
            padding: 14px;
            margin-bottom: 1.5vw;
            transition: background-color 0.3s ease;
            width: 100%;

            &:hover{
                cursor: pointer;
                background-color: hsl(31, 60%, 45%,1) ;
            }
        }

        a{
            text-decoration: none;
        }

    }
}

.faixa{
    max-width: 100%;
    height: 2rem;
    background-color: #B7752E; 
}


.sinopse {
    background-image: url(/dist/images/fotos/still-01_Ze-scaled.jpg);
    background-size: cover;
    background-position: 0vw -5vw;
    background-repeat: repeat;
    width: 140%;
    height: 55vw;
    padding-top:10vw ;

    &__title{
        max-width: 26%;
        margin: auto 10vw;
        @include title(3vw);
        line-height: 25px;
        margin-bottom: 3vw;
        margin-left: 20vw;
    }
    
    &__text{
        max-width: 26%;
        margin: auto 10vw;
        @include text(1.2vw);
        line-height: 1.4vw;
    }
}

.diretor {
    background-image: url(/dist/images/fotos/foto-do-diretor.png);
    background-size: cover;
    background-position: -9vw 0vw;
    background-repeat: none;
    width: 100%;
    height: 55vw;
    padding-top:10vw ;

    &__title{
        max-width: 26%;
        margin: auto 10vw;
        @include title(3vw);
        line-height: 25px;
        margin-bottom: 3vw;
        margin-left: 66vw;
    }
    
    &__text{
        max-width: 35%;
        margin-left: 55vw;
        @include text(1.2vw);
        line-height: 1.4vw;
    }
}

.sessao__fotos{
    height: 62.5em;
}

.fotos{
    position: relative;

    &__title{
        margin: 3vw auto;
        @include title(3vw);
        text-align: center;
    }

    .fotogafia{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    &__4{
        width: 90vw;
        height: 30vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 0 auto;
    }

    &__2{
        width: 33vw;
        height: 33vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 15vw 0px 0px 3vw;
        border-radius: 50%;
        position: absolute;
        top: 50%;
    }

    &__3{
        width: 40vw;
        height: 28vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 12vw 0px 0px 50vw;
        position: absolute;
        top: 50%;
    }

    &__5{
        width: 48vw;
        height: 24vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:35vw 0px 0px 25vw;
        position: absolute;
        top: 50%;
    }

    &__8{
        width: 36vw;
        height: 28vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:54vw 0px 0px 8vw;
        position: absolute;
        top: 50%;
        }

    &__7{
        width: 47vw;
        height: 20vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:50vw 0px 0px 48vw;
        position: absolute;
        top: 50%;
    }

    &__1{
        width: 35vw;
        height: 35vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin:65vw 0px 0px 55vw;;
        position: absolute;
        top: 50%;
        border-radius: 50%;
    }

    &__6{
        width: 56vw;
        height: 21vw;
        border: 2px solid #b7752e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
        overflow: hidden;
        margin: 77vw 0px 0px 4vw;;
        position: absolute;
        top: 50%;
    }
}

.faq{

    
    p{
        display: flex
    }

    &__title2{
        @include title(3vw);
        margin: 3vw auto;
        text-align: center;
    }
    
    &__ficha1{
        max-width:80%;
        margin: 2rem 10vw 0px 15vw;
        @include text(1.2vw);
        line-height: 1.4vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10vw;
    }
}

.footer{
    background-color: $corBeje;
    @include text(1vw);
    color: #100F0F;
    text-align: center;
    padding-bottom: 1rem;
}

.lightBox {
    position: fixed; 
    z-index: 999; 
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;

    &__content {
        margin: 0 auto;
        width: 80%;
        max-width: 700px;
        border: #B7752E solid 1px;
    }}


.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:480px){
    .header{
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 90px;
        transition: none;
        background-color: #B7752E;
        z-index: 1000;
    
        &__content {
            position:relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0;
            margin: 0 auto  0 auto;
            flex-wrap: wrap;

        
            &__titulo {
                @include title(40px);
                align-content: center;
                text-align: center;
                position: relative;
                top: 5%;
                width: 100%;
            }

            &__img {
                position: absolute;
                display: flex;
                align-items: flex-start;
                max-height: none;
                width: 40px;
                height: auto;
                margin: -5% 0 0 0;
            }
    
            #icon_sound{
                font-size: 18px;
                height: auto;
                width: auto;
                padding: 0px;
                margin: 0;
                position: relative;
            }
            
            &__menu {
                @include text(2em);
                display: flex;
                list-style-type: none;
            }
        }
    }
    
    .hero {
        &__video {
            position: relative;
            top: 210px;
            width: 460px;
            height: 250px;
            transform: translate(-50%, -50%);
            z-index: -1;
            object-fit: cover;
        }
    
        &__icones {
            max-width: 90%;
            align-items: center;
            display: flex;
            flex-direction: row;
            margin: 100px auto 14px auto;
            justify-content: space-between;
            align-items: center;
            gap: 2px;
        
        
            .trailerText {
            max-width: none;
            width: 40%;
            height: 40px;
            font-size: 12px;
            color: #afafaf;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            background-color: #b7752e;
            border-radius: 7px;
            padding: 5px;
            border: #100f0f solid 2px;
            margin-top: 0px;
            color: #000;
            margin: 0px;
            transition: none;
            text-align: center;
            align-content: center;
            margin-bottom: 2px;
            }
        
            #chandelerimg {
            max-width: none;
            width: 75px;
            margin: 0;
            background-color: rgba(184, 117, 46,1);
            border-radius: 5px;
            padding: 1px;
            transition: none;
            }
    
            #embaubaimg {
            max-width: none;
            width: 120px;
            height: 37px;
            background-color: rgba(184, 117, 46,1);
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 0;
            transition: background-color .3s ease;
            }
        }
    }

    .faixa{
        height: 15px;
    }

    .sinopse {
        background-position: -200px -70px;
        width: 100%;
        height: auto;
        padding-top:1px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__title{
            width: 100%;
            margin: 14px auto 20px auto;
            @include title(16px);
            line-height: normal;
            text-align: center;
            padding: 0px;
        }
        
        &__text{
            width: 50%;
            max-width: 27ch;
            text-align: justify;
            margin: 0 14px 14px auto;

            @include text(12px);
            line-height: 14px;
        }
    }

    .diretor {
        background-position: 0px 0px;
        height: auto;
        padding-top: 1px;

        &__title{
            width: 100%;
            margin: 30px auto;
            @include title(16px);
            line-height: 0px;
            text-align: center;
        }
        
        &__text{
            width: 50%;
            max-width: 27ch;
            text-align: justify;
            margin: 14px auto 14px 14px;
            @include text(12px);
            line-height: 14px;

        }
    }

    .sessao__fotos{
        height: 100%;
    }

    .fotos{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows: (3, 1fr); 
        gap: 5px;
        max-width: 95%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 14px;

    &__title{
        margin: 14px;
        @include title(16px);
        text-align: center;
    }
    
    .fotogafia{
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor: pointer;
    }

    &__mobile{
        width: 100%;
        height: auto;
        border-radius: 0%;
        position: relative;
        margin: 0 auto;
        box-shadow: none;
        border: #B7752E solid 0.5px;
    }

    &__8, &__5, &__1, &__2, &__3, &__4, &__6,&__7{
        top: 0;
    }
}

    .lightBox { 
        max-width: 100%;
    }

    .close {
        top: 35%;
    }

    .faq{
        p{
            margin-bottom: 14px
        }
    
        &__title2{
            @include title(16px);
        }
        
        &__ficha1{
            @include text(12px);
            line-height: 14px;
            display: block;
            margin: 0 auto;
            max-width: 95%;
        }
    }

    .footer{
        @include text(0.6rem);
        color: #100F0F;
    }
}