// Definindo cores e fontes
$corDeFundo: #100F0F;
$corTextoTitulo: #FEC866;
$corTexto: #AFAFAF;
$corTextoPreto: #100F0F;
$corBeje: #B7752E;

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text($fontsize: 34px) {
    font-size: $fontsize;
    color: $corTexto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin title($fontSize: 64px) {
    font-size: $fontSize;
    color: $corTextoTitulo;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.text {
    @include text(34px);
}

.text--title {
    @include title(100px);
}

body {
    background-color: $corDeFundo;
    font-size: 2vw;
}

.hero {
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: -1;
        object-fit: cover;
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: center;  
        justify-content:space-between;
        flex-grow: 1;
        gap: 1vw;
        max-width: 80%;
        margin: 0 auto;
        align-content: center;
        padding-bottom: 70px;
        
        &__titulo {
            @include title(5vw);
            align-content: center;
        }

        #icon_sound{
            height: 32px;
            color: #100F0F;
        }

        &__img {
            max-height: 60px;
            margin-right: 20vw;
        }

        &__menu {
            @include text(2vw);


            a{
                text-decoration: none;
                color: #100F0F;
                margin-right: 1rem ;
            }
        }
    }

    &__icones {
        max-width: 15%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto 10vw;        
        ;

        #chandelerimg {
            max-width: 100%;
            margin: 120px 0 1vw 0;
            background-color: hsl(31, 60%, 45%, 0.5);
            border-radius: 50px;    
        }

        #embaubaimg {
            max-width: 100%;
            background-color: hsl(31, 60%, 45%, 0.5);
            border-radius: 50px;
            padding: 14px;
            margin-bottom: 1.5vw;
        }

        a {
            max-width: 100%;
            text-decoration: none;
            @include text(24px);
            background-color:$corBeje;
            border-radius: 40px;
            padding: 7px;
            border:#100F0F solid 2px;
            margin-top: 25px;
            color: black;
            margin-bottom: 50px;
        }
    }
}

.faixa{
    max-width: 100%;
    height: 48px;
    background-color: #B7752E; 
}


.sinopse {
    background-image: url(/dist/images/fotos/still-01_Ze-scaled.jpg);
    background-size: cover;
    background-position: 0vw -5vw;
    background-repeat: none;
    width: 130%;
    height: 800px;
    padding-top:10vw ;

    &__title{
        max-width: 26%;
        margin: auto 10vw;
        @include title(56px);
        line-height: 25px;
        margin-bottom: 3vw;
        margin-left: 15vw;
    }
    
    &__text{
        max-width: 26%;
        margin: auto 10vw;
        @include text(24px);
        line-height: 25px;
    }
}

.diretor {
    background-image: url(/dist/images/fotos/foto-do-diretor.png);
    background-size: cover;
    background-position: -9vw 0vw;
    background-repeat: none;
    width: 100%;
    height: 800px;
    padding-top:10vw ;

    &__title{
        max-width: 26%;
        margin: auto 10vw;
        @include title(56px);
        line-height: 25px;
        margin-bottom: 3vw;
        margin-left: 60vw;
    }
    
    &__text{
        max-width: 35%;
        margin-left: 55vw;
        @include text(24px);
        line-height: 25px;
    }
}

.fotos{

    &__title{
        margin: 3vw auto;
        @include title(56px);
        text-align: center;
    }

    #foto4{
        max-width: 1505px;
        max-height: 513;
        
    }
}